.app-header {
  background-color: var(--color-header-background);
}

.header-content {
  max-width: var(--content-max-width);
  padding: .5rem 1rem;
  margin: 0 auto;
}

.site-name {
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
}
