.page {
  text-align: center;
}

.status-code {
  font-size: 6rem;
  font-weight: 800;
}

.description {
  font-size: 1.25rem;
}

.home-link {
  font-size: 1.75rem;
  font-weight: 700;
  text-decoration: none;
}
