:root {
  --color-primary: #294C8D;
  --color-secondary: #EA8217;
  --color-accent: #EAEEFDF2;
  --color-canvas: #fdfdfd;
  --color-header-background: var(--color-primary);
  --color-text: #323E57F2;
  --color-text--light: #FEFEFEEE;
  --color-link: #5193B3;
  --color-link--hover: #F89344;
  --color-border: #294c8d4d;
  --color-border--active: #294c8de6;
  --color-disabled: #6C6D70;

  --content-max-width: 1280px;
  --content-max-width--small: 768px;
  --content-min-width: 480px;
  --default-transition: .15s ease-in-out;

  --color-button-background: var(--color-secondary);
  --color-button-background--hover: #b97f3f;
  --color-button-background--disabled: #C9CBCB;
  --color-button-background--secondary: #F4F4F4;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-canvas);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// Reset body default styles.
body {
  margin: 0;
}

.dark-mode {
  // Define dark variables:
  --color-backgroud--dark: #41436A;
  --color-text: rgba(255, 255, 255, 0.87);
}

.page {
  min-width: min(var(--content-min-width), 80vw);
  max-width: var(--content-max-width--small);
}

a {
  color: var(--color-link);
  transition: color var(--default-transition);
}

a:hover {
  color: var(--color-link--hover);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

h1 {
  font-size: clamp(2rem, 8vw, 3.5rem);
  line-height: 1.3333;
  text-align: center;
  max-width: 42.5rem;
  margin: .5em auto;
}

.center-action {
  display: flex;
  align-items: center;
  justify-content: center;

  .action {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
  }
}

hr {
  margin-bottom: 1.5rem;
}
